<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">


<hibernate-configuration>

    <session-factory>
        <property name="connection.username">root</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/lastseen?autoReconnect=true</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="connection.password">admin</property>
        <property name="connection.driver_class">
            com.mysql.jdbc.Driver
        </property>
        <property name="connection.provider_class">
            org.hibernate.connection.C3P0ConnectionProvider
        </property>
        <property name="c3p0.minPoolSize">5</property>
        <property name="c3p0.maxPoolSize">30</property>
        <property name="c3p0.initialPoolSize">10</property>
        <property name="c3p0.automaticTestTable">Test</property>
        <property name="c3p0.maxIdleTime">25000</property>
        <property name="c3p0.maxStatements">0</property>
        <property name="c3p0.idleConnectionTestPeriod">18000</property>
        <property name="c3p0.acquireRetryAttempts">10</property>
        <property name="c3p0.breakAfterAcquireFailure">false</property>
        <property name="c3p0.testConnectionOnCheckout">true</property>
        <property name="c3p0.testConnectionOnCheckin">true</property>
        <property name="cache.use_second_level_cache">false</property>
        <property name="cache.use_query_cache">false</property>
        <property name="connection.autocommit">false</property>
        <property name="show_sql">false</property>
        <property name="current_session_context_class">thread</property>
        <property name="hibernate.is-connection-validation-required">true</property>
        <property name="hibernate.query.factory_class">org.hibernate.hql.ast.ASTQueryTranslatorFactory</property>

        <mapping
                resource="lastSeen/DataBase/hibernate/hbm.xmls/contact.hbm.xml" />

    </session-factory>
</hibernate-configuration>